/* contacto */
.formulario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.campo-textarea {
  display: block;
  width: 100%;
  padding: .5px;
  margin-top: 10px;
}

.campo-enviar {
  margin: 10px auto 0 auto;
}

.query-input,
.query-textarea {
  padding: 15px;
  height: 24px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  width: 100%;
}

.query-input:focus-visible, 
.query-textarea:focus-visible {
  outline: 2px solid #fff;
  border-radius: 0;
}

.query-textarea {
  min-height: 200px;
}

.btn-consulta {
  margin: auto;
  height: 50px;
  min-width: 100px;
  padding: 10px;
  transition: all .3s ease;
  color: #fff;
  background-color: transparent;
}

.btn-consulta:hover {
  cursor: pointer;
  color: #fff;
  background-color: orangered;
}

/* media queries */
@media (max-width: 768px) {
  .campo {
    width: 100%;
    margin: 10px auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .campo {
    width: 100%;
    margin: 10px auto;
  }
}
@media (min-width: 992px) {
  .campo {
    width: 32%;
  }
}
