/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 20px;
}

.footer>p {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.footer-list {
  list-style-type: none;
  text-align: left;
}

.footer-list>li {
  line-height: 1.25rem;
}

.footer-list>li:first-child {
  font-weight: bold;
  line-height: 35px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}

.footer-list>li>a {
  font-weight: normal;
  color: #ccc;
}

.footer-list>li>a:hover {
  font-weight: normal;
  color: var(--light-main-color);
}

.company-info {
  margin: 0 auto 10px auto;
}

/* media queries */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-list {
    text-align: center;
  }
  .footer-list>li:first-child {
    border-bottom: none;
  }
  .footer-list>li {
    margin: 15px auto;
  }
}

@media (min-width: 768px) {
  .footer-list>li {
    margin: 10px auto;
  }
}

@media (min-width: 992px) {}
